altair==4.2.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
branca==0.6.0
bs4==0.0.1
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
dacite==1.8.1
decorator==5.1.1
entrypoints==0.4
folium==0.14.0
fonttools==4.40.0
gitdb==4.0.10
GitPython==3.1.31
graphviz==0.20.1
htmlmin==0.1.12
hydralit-components==1.0.10
idna==3.4
ImageHash==4.3.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
multimethod==1.9.1
networkx==3.1
numerize==0.12
numpy==1.23.3
packaging==23.1
pandas==1.5.0
pandas-profiling==3.6.6
patsy==0.5.3
phik==0.12.3
Pillow==9.5.0
plotly==5.10.0
protobuf==3.20.3
pyarrow==12.0.0
pydantic==1.10.9
pydeck==0.8.1b0
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
requests==2.31.0
rich==13.4.2
scipy==1.10.1
seaborn==0.12.2
semver==3.0.0
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
statsmodels==0.14.0
streamlit==1.19.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.6
streamlit-pandas-profiling==0.1.3
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
typeguard==2.13.3
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3
urllib3==2.0.3
validators==0.20.0
visions==0.7.5
wordcloud==1.9.2
zipp==3.15.0